header {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
    .nav-link {
        color: rgb(96, 218, 96);
    }
}
.ls-custom {
    background-color: black;
    height: 80px;
    z-index: 999;
    .logo {
        cursor: pointer;
        font-size: 38px;
        a {
            color: white;
        }
        span {
            color: rgb(96, 218, 96);
        }
    }
    .navbar-toggler {
        border: 1px solid rgb(96, 218, 96) !important;
    }
    #navbarDropdown {
        color: rgb(96, 218, 96) !important;
    }
    .dropdown-menu-right {
        background-color: black;
        border: 1px solid rgb(96, 218, 96);
        .dropdown-item {
            color: rgb(96, 218, 96);
            &:hover {
                background-color: rgba(0, 0, 0, 0);
                color: white;
            }
        }

        &:hover {
            background-color: black;
        }
    }
}
