header {
    z-index: 999;
    a, a:hover {
        color: white;
    } 
    .nav-link {
        color: $main-var;
    }
}
.ls-custom {
    background-color: black;
    height: 80px;
    z-index: 999;
    .logo {
        cursor: pointer;
        font-size: 38px;
        a {
            color: white;
        }
        span {
            color: $main-var;
        }
    }
    .navbar-toggler {
        border: 1px solid $main-var !important;
    }
    #navbarDropdown {
        color: $main-var !important;
    }
    .dropdown-menu-right {
        background-color: black;
        border: 1px solid $main-var;;
        .dropdown-item {
            color: $main-var;;
            &:hover {
                background-color: rgba(0, 0, 0, 0);
                color: white;
            }
        }

        &:hover {
            background-color: black;
        }
    }
}
