.ls-back {
    min-height: calc(100vh - 80px);
    padding: 50px 0;
    background-image: url("/img/back-end/back-register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#register {
    font-size: 12px;
}
