.gs-box {
    //background-image: url("/img/back-end/bg-be2.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: $body-bg;
    h2 {
        span {
            font-size: 32px;
            border-bottom: 3px $main-var solid;
        }
    }
    .orders {
        font-size: 24px;
        .gs-link {
            color: black;
            &:hover {
            color: $main-var;
            }
        }
    }
    
}

.gs-card{
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    .gs-img {
        height: 150px;
        object-fit: cover;
    }
}

// .gs-row {
//     display: inline-block;
// }

.fa-pencil {
    color: $main-var;
    font-size: 24px;
}

button {
    background-color: #fff;
    border: none;
    .fa-trash-can {
        color: red;
        font-size: 24px;
    }
}