.gs-box {
    background-image: url("/img/back-end/bg-show6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: $body-bg;
    h2 {
        span {
            font-size: 32px;
            border-bottom: 3px $main-var solid;
        }
    }
    .orders {
        font-size: 24px;
        .gs-link {
            color: black;
            &:hover {
                color: $main-var;
            }
        }
    }
    #ls-is-visible {
        color: #60da60;
    }
    #ls-no-visible {
        color: red;
    }
}

.gs-card {
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    .gs-img {
        height: 150px;
        object-fit: cover;
    }
}

.fa-pencil {
    color: $main-var;
    font-size: 24px;
}

button {
    background-color: #fff;
    border: none;
    .fa-trash-can {
        color: red;
        font-size: 24px;
    }
}

//versione con tabella
thead {
    border-bottom: 12px solid #dee2e6;
}
.gs-row {
    border-top: 10px solid #dee2e6;
}

.gs-dish-img {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    margin: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

td p {
    font-size: 18px;
}
