.gs-box {
    //min-height: calc(100vh - 80px);
    //background-image: url("/img/back-end/bg-show1.jpg");
    background-color: rgb(202, 251, 215);
    background-repeat: repeat;
    background-size: contain;
}

.gs-card{
    border-radius: 8px;
    overflow: hidden;
}



.gs-img {
    height: 150px;
    object-fit: cover;
}

    

    



    
    


